<a
  class="flex flex-col-reverse md:flex-row justify-between gap-2 sm:gap-5 border-b pb-3 border-black/40 dark:border-white/40"
  [href]="news().link"
  target="_blank"
>
  <div>
    <h3 class="font-bold text-xl">{{ news().title }}</h3>
    @if (news().description) {
    <p>{{ news().description | clipText }}</p>
    }
  </div>
  <img
    [src]="news().image_url ?? placeholderNewsNoPreview"
    #img
    (error)="img.src = placeholderNewsNoPreview"
    class="object-cover rounded-lg h-[250px] w-[350px]"
  />
</a>
